* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Barlow Semi Condensed", sans-serif;
}

body {
  background-color: hsl(210, 46%, 95%);
}

.container {
  padding:30px 10px;
  width: 80%;
  height: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  background-color: hsl(210, 46%, 95%);
  transform: translate(-50%, -50%);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-gap: 25px;
  border-radius: 10px;
}

.common {
  border-radius: 10px;
  padding: 20px;
}

.common img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(243, 242, 239, 0.5);
}

.common p {
  font-size: 14px;
  line-height: 1rem;
  font-weight: normal;
  margin-top: 20px;
}

.common h4 {
  font-size: 18px;
  margin-top: 7px;
}

.common h6 {
  margin-bottom: 4px;
}

.flex {
  display: flex;
}

.up {
  margin-right: 12px;
}


.one {
  grid-column: 1/3;
  grid-row: 1/3;
  background-color: hsl(263, 55%, 52%);
}

.oneh4,
.oneh5 {
  color: hsl(0, 22%, 96%);
}

.onep {
  color: hsla(0, 0%, 89%, 0.7);
}

.oneh6 {
  color: hsla(0, 0%, 89%, 0.5);
}

.two {
  grid-column: 3/4;
  grid-row: 1/3;
  background-color: hsl(217, 19%, 35%);
}

.twoh4,
.twoh5 {
  color: hsl(0, 0%, 100%);
}

.twop {
  color: hsla(0, 0%, 100%, 0.7);
}

.twoh6 {
  color: hsla(0, 0%, 100%, 0.5);
}

.three {
  grid-column: 1;
  grid-row: 3/5;
  background-color: hsl(0, 0%, 100%);
}

.threeh4,
.threeh5 {
  color: hsl(217, 19%, 35%);
}

.threep {
  color: hsla(217, 19%, 35%, 0.7);
}

.threeh6 {
  color: hsla(217, 19%, 35%, 0.5);
}

.four {
  grid-column: 2/4;
  grid-row: 3/5;
  background-color: hsl(219, 29%, 14%);
}

.fourh4,
.fourh5 {
  color: hsl(0, 0%, 100%);
}

.fourp {
  color: hsla(0, 0%, 100%, 0.7);
}

.fourh6 {
  color: hsla(0, 0%, 100%, 0.5);
}

.five {
  grid-row: 1/5;
  background-color: hsl(0, 0%, 100%);
}

.fiveh4,
.fiveh5 {
  color: hsl(217, 19%, 35%);
}

.fivep {
  color: hsla(217, 19%, 35%, 0.7);
}

.fiveh6 {
  color: hsla(217, 19%, 35%, 0.5);
}

@media screen and (max-width: 875px) {
  .one,
  .two,
  .three,
  .four,
  .five {
    width: 100%;
    height: auto;
  }
  .common:not(:last-child) {
    margin-bottom: 1.4rem;
  }

  .five {
    margin-bottom: 1.4rem;
  }
  .container {
    display: block;
    /* display: flex;
        flex-direction: column; */
    margin: 0;
    padding: 0;
  }
}

@media only screen and (max-width:1024px) {
    .common {
  border-radius: 10px;
  padding: 10px;
}

.common img {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 1.8px solid rgba(243, 242, 239, 0.5);
}

.common p {
  font-size: 16px;
  line-height: 1rem;
  font-weight: normal;
  word-spacing: 0.1rem;
  margin-top: 10px;
}

.common h4 {
  margin-top: 5px;
}
}